.favContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.favContainer h3 {
    margin: 10px 32%;
}
h3 {
    font-size: 24px;
    color: rebeccapurple;
    
}

.favSlider {
    width: fit-content;
    position: relative;
    left: 35%;
    translate: (-50%, -50%);
}

.splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  p {
      font-size: 28px;
      text-align: center;
  }


@media (max-width: 566px) {
    .favSlider {
        left: 15%;
    }
}