@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #EECDA3;
  background: -webkit-linear-gradient(to left, #EF629F, #EECDA3); 
  background: linear-gradient(to left, #EF629F, #EECDA3); 
  overflow: auto;
}

.container {
  width: 100%;
  height: auto;
}
